section
{
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
}

html
{
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

section > article
{
    font-family: Georgia, serif;
    line-height: 1.2;   
}